
// CLEARFIX
%clearfix {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

// CENTER ALIGN
%center-align {
	text-align: center;
}

//IMG STYLES
%image-style {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

//LINK: REMOVE DEFAULT STYLES
%text-dec {
  text-decoration: none;
}

%letter-space {
  letter-spacing: em(.5px)
}

// BUTTON STYLES
%btn {
  width: 95%;
  border: none;
  padding: em(16px) 0;
  margin: em(10px);
  color: $white;
  text-transform: uppercase;
  font-size: em(16px);
  font-weight: 600;
  border-radius: em(5px);
}

// GRID STYLES
%grid {
  width: 95%;
  border: none;
  padding: em(16px) 0;
  margin: em(10px);
  font-size: $base__font-size;
  border-radius: em(5px);
}