
// CLEARFIX
%clearfix {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

// CENTER ALIGN
%center-align {
	text-align: center;
}

// Flex-Box
%flex {
  display:flex;
}

//LINK: REMOVE DEFAULT STYLES
%text-dec {
  text-decoration: none;
}

%letter-space {
  letter-spacing: em(.5px)
}
