
// CLEARFIX
%clearfix {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

// CENTER ALIGN
%center-align {
	text-align: center;
}

// Flex-Box
%flex {
  display:flex;
}

//LINK: REMOVE DEFAULT STYLES
%text-dec {
  text-decoration: none;
}

%letter-space {
  letter-spacing: em(.5px)
}

%btn {
  width: 95%;
  border: none;
  padding: em(16px) 0;
  margin: em(10px);
  color: $white;
  text-transform: uppercase;
  font-size: em(16px);
  font-weight: 600;
  border-radius: em(5px);
}

%grid {
  width: 95%;
  border: none;
  padding: em(16px) 0;
  margin: em(10px);
  font-size: em(16px);
  border-radius: em(5px);
}