// IMAGES

.img {
    @include m(frame) {
      @extend %image-style;
      border: 1px solid $grey;
      padding: em(12px);
      width: 100%;
      @media (min-width: 1024px) {
        width: auto;
        height: auto;
      }
    }
    @include m(avatar) {
      @extend %image-style;
      border-radius: $br--round;
    }
  }

.link {
    color: $blue;
    font-weight: 700;
    text-decoration: none;
}

.headline--secondary {
  font-size: em(20px);
  font-weight: $font-weight--thin;
  padding: em(20px) 0;
  margin: 0;
  text-align: left;
}

.headline--primary {
  color: $aqua;
  padding-left: .5em;
}

.nav__item {
  list-style-type: none;
}