
// CENTER ALIGN
%center-align {
	text-align: center;
}

// IMG STYLES
%image-style {
  display: block;
  margin: 0 auto;
}

//LINK: REMOVE DEFAULT STYLES
%text-dec {
  text-decoration: none;
}

//LINK
%link {
  color: $blue;
  font-weight: 700;
  text-decoration: none;
}

// HEADLINES
%primary {
  color: $aqua;
  padding-left: .5em;
  text-align: left;
}

%secondary {
  font-size: em(20px);
  font-weight: $font-weight--thin;
  padding: em(20px) 0;
  margin: 0;
  text-align: left;
}

// NAV ITEMS
%nav__item {
  list-style-type: none;
}

// BUTTON STYLES
%btn {
  width: 95%;
  border: none;
  padding: em(16px) 0;
  margin: em(10px);
  color: $white;
  text-transform: uppercase;
  font-size: em(16px);
  font-weight: 600;
  border-radius: em(5px);
}

// GRID STYLES
%grid {
  width: 95%;
  border: none;
  padding: em(16px) 0;
  margin: em(10px);
  font-size: $base__font-size;
  border-radius: em(5px);
}


