.btn {
    @include bg-colors($ui-colors);
}

[class^="btn--"] {
    @extend %btn;
    @include mq(large){
     @include flex(flex-inline);
        margin: 0 em(35px);
        width: 15%;
      }
}

.btn--default[type="submit"] {
    @include mq(large){
        margin: em(10px);
        width: 95%;
      }
}
   