.grid__row {
    padding-top: em(32px);
    @include flex(flex, column);
    @include mq(large){
        justify-content: space-between;
        flex-direction: row;
    }
}

.container {
    max-width: 90%;
    margin: auto;
    @include mq(large){
        max-width: 1400px;
    }
}

.grid__col {
    @include bg-colors($grid-colors);
}

[class^="grid__col"] {
    @extend %grid;
    @include mq(large) {
        width: 100%;
    }
}

.centered {
    @include mq(large) {
        display: block;
        margin: auto;
        width: 65%;
        margin-bottom: em(24px);
    }
}

.grid__col--5 {
    @include mq(large){
        flex-shrink: 1.4;
    }
}

.grid__col--8 {
    @include mq(large) {
        flex-shrink: .5;
    }
}