.img--logo {
    width: em(150px);
    display: block;
    margin: auto;
    @include mq(large) {
        display: inline-block;
        justify-content: flex-start;
        width: em(180px);
    }
}

// .img--frame, .img--avatar {
//     @include mq(large) {
//         height: auto;
//     }
// }

.img--frame {
    @extend %image-style;
    border: 1px solid $grey;
    padding: em(12px);
    width: 100%;
    @include mq (large) {
        width: auto;
        height: auto;
    }
}

.img--avatar {
    @extend %image-style;
    border-radius: $br--round;
}