
.nav {
    margin: em(24px) em(16px);
    @include mq(large){
        display: flex;
        margin-top: em(16px);
        flex-direction: row;
        justify-content: space-evenly;
    }
    a {
        @extend %center-align;
        @extend %text-dec;
        display: block;
        color: $grey;
        font-size: em(18px);
        font-weight: $font-weight--light;
        padding: .4em;
    }
    :hover {
        background-color: $color-secondary;
        border-radius: $br--default;
        color: $white;
        font-weight: $font-weight--heavy;
    }
};

.nav__item {
  @extend %nav__item;
}