.blockquote {
    font-style: italic;
    font-size: $base__line;
    font-weight: $font-weight--light;
    margin-right: em(20px);
    padding-left: em(15px);
    border-left: em(5px) solid $aqua;
    border-radius: em(3px);
}